@import url(https://fonts.proxy.ustclug.org/css?family=Roboto:300,300italic,400,400italic,500,500italic);
body {
  padding-bottom: 69px;
}

.ui-content-header {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -58px;
  padding-top: 68px;
  padding-bottom: 58px;
}
.page-brand .ui-content-header {
  background-image: url(./images/bg/brand.jpg);
}

.ui-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.ui-header .dropdown.open .dropdown-toggle {
  background-color: transparent;
}

.ui-picker-divider {
  background-color: #dadada;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  width: 1px;
  z-index: 1;
}

.ui-picker-draggable-count {
  position: absolute;
  top: -16px;
  right: -16px;
}

.ui-picker-draggable-handler {
  cursor: crosshair;
  cursor: -webkit-grab;
  position: relative;
}
.ui-picker-selected .ui-picker-draggable-handler {
  z-index: 2;
}
.ui-picker-selected .ui-picker-draggable-handler:active {
  cursor: -webkit-grabbing;
}
.ui-picker-selected .ui-picker-draggable-handler strong {
  display: none;
}
.ui-picker-selected .ui-picker-draggable-handler .icon {
  display: inline-block;
}
.ui-picker-draggable-handler strong {
  display: inline;
}
.ui-picker-draggable-handler .icon {
  display: none;
}

.ui-picker-info, .ui-picker-nav {
  background-color: #ffffff;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  position: relative;
  -webkit-transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 0;
}

.ui-picker-info-active {
  width: 400px;
}

.ui-picker-info-detail {
  padding-right: 16px;
  padding-left: 16px;
}

.ui-picker-info-null:after {
  background-color: #f5f5f5;
  content: "Select an item to view its details.";
  display: block;
  font-size: 20px;
  font-weight: 300;
  height: 100%;
  line-height: 28px;
  padding: 58px 16px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.ui-picker-inner {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ui-picker-item {
  position: relative;
  -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.ui-picker-lib.ui-picker-dragging .ui-picker-item.ui-picker-draggable {
  opacity: 0.69;
}

.ui-picker-lib {
  min-height: calc(100vh - 56px);
}
.ui-picker-lib:after, .ui-picker-lib:before {
  content: "";
  display: table;
  line-height: 0;
}
.ui-picker-lib:after {
  clear: both;
}

.ui-picker-main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.ui-picker-map-wrap {
  height: 225px;
  width: 400px;
}

.ui-picker-nav {
  width: 240px;
}

.ui-picker-page {
  height: 100vh;
  min-width: 992px;
  padding-top: 56px;
  padding-bottom: 0;
}

.ui-picker-selectable-handler {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.ui-picker-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.ui-draggable-helper {
  width: 208px !important;
}

.ui-droppable-helper {
  background-color: rgba(255, 64, 129, 0.09) !important;
  border-color: #ff4081 !important;
}

.ui-selectable-helper {
  background-color: rgba(0, 0, 0, 0.12);
  border: 1px solid #dadada;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 100;
}

.ui-card-pre {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 768px) {
  .ui-card-pre {
    min-height: 189px;
  }
}

@media only screen and (min-width: 768px) {
  .ui-card-pre-media {
    min-height: 353px;
  }
}
@media only screen and (min-width: 992px) {
  .ui-card-pre-media {
    min-height: 394px;
  }
}
@media only screen and (min-width: 1440px) {
  .ui-card-pre-media {
    min-height: 389px;
  }
}

.ui-card-wrap {
  margin-top: 24px;
  margin-bottom: -24px;
}
.ui-card-wrap:after, .ui-card-wrap:before {
  content: "";
  display: table;
  line-height: 0;
}
.ui-card-wrap:after {
  clear: both;
}
.ui-card-wrap .card {
  margin-top: 0;
}

.ui-tab {
  margin-top: 10px;
}
